.header-client {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(66, 66, 236) 5%, rgb(0, 212, 255) 100%);
  z-index: 1000;
  position: sticky;
  top: 0;
  left: 0;
}
.header-client .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header-client .container .logo {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-client .container .logo a {
  font-size: 30px;
  font-weight: bold;
  color: var(--sacand-color);
  margin: 0 auto;
}
.header-client .container > nav {
  width: 100% !important;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-client .container > nav .navigator {
  width: 80%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-client .container > nav .navigator li {
  list-style: none;
}
.header-client .container > nav .navigator li a {
  font-size: 25px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-right: 15px;
  letter-spacing: 1px;
}
.header-client .container .mob-menu {
  width: 50px;
  height: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.header-client .container .mob-menu span {
  width: 100%;
  height: 2px;
  display: block;
  background-color: rgb(255, 255, 255);
  margin-bottom: 5px;
}
.header-client .container .right-nav {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-client .container .right-nav .login {
  width: 70px;
  height: 50%;
  background-color: var(--white);
  font-size: 25px;
  font-weight: 600;
  color: var(--blue);
  border: 1px solid var(--yellow-color);
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
  padding: 5pt 10px;
}
.header-client .container .right-nav .login:hover {
  color: var(--sacand-color);
  background-color: var(--yallow-color);
}
.header-client .container .right-nav .cart-icon {
  width: 40%;
  height: 60%;
  text-align: center;
}
.header-client .container .right-nav .cart-icon > span {
  font-size: 50px;
  color: white;
}

.show {
  display: flex !important;
}

@media (max-width: 768px) {
  .header-client {
    width: 100%;
  }
  .header-client .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 10px;
  }
  .header-client .container .logo {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-client .container .logo a {
    font-size: 25px;
    font-weight: bold;
    color: var(--sacand-color);
    margin: 0 auto;
  }
  .header-client .container > nav {
    width: 100% !important;
    height: calc(100vh - 90px) !important;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 90px;
    left: 0;
    background-color: var(--sacand-color);
  }
  .header-client .container > nav .navigator {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-client .container > nav .navigator li {
    list-style: none;
    width: 100%;
    height: 60px;
    text-align: center;
  }
  .header-client .container > nav .navigator li a {
    font-size: 35px;
    color: var(--blue);
    font-weight: bold;
    margin-right: 15px;
    letter-spacing: 1px;
  }
  .header-client .container .mob-menu {
    max-width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: 10%;
  }
  .header-client .container .mob-menu span {
    width: 100%;
    height: 3px;
    display: block;
    background-color: rgb(255, 255, 255);
    margin-bottom: 10px;
  }
  .header-client .container .right-nav {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .header-client .container .right-nav .login {
    width: 50%;
    height: 50%;
    background-color: var(--white);
    font-size: 20px;
    font-weight: 400;
    color: var(--blue);
    border: 1px solid var(--yellow-color);
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin: auto;
  }
  .header-client .container .right-nav .login:hover {
    color: var(--sacand-color);
    background-color: var(--yallow-color);
  }
  .header-client .container .right-nav .cart-icon {
    width: 30%;
    height: 50%;
    text-align: center;
  }
  .header-client .container .right-nav .cart-icon > span {
    font-size: 40px;
    color: white;
  }
}/*# sourceMappingURL=Header.css.map */