.pos-section {
    width: 100%;
    height: calc(100% - 50px);
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .pos-cart {
        width: 30%;
        height: 100%;
        border: 2px solid rgb(255, 255, 255);
        background-color: gray;

        .pos-cart-item {
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            background-color: white;
            border-bottom: 2px solid gray;
            position: relative;

            .pos-note-text {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                right: 0px;
                border-radius: 20px;
                background-color: white;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                >textarea {
                    width: 95%;
                    height: 70%;
                    margin: 5px;
                }

                .note-btn {
                    width: 100%;
                    height: 30%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    >button {
                        width: 45%;
                        height: 100%;
                        background-color: aqua;
                        border-radius: 10px
                    }

                    ;
                }
            }

            .cart-item-name {
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;

                .pod-item-name {
                    width: 50%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                }

                .pos-note {
                    width: 30%;
                    height: 100%;
                    font-size: 40px;
                    color: rgb(0, 238, 255);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                >button {
                    width: 20%;
                    height: 100%;
                    background-color: red;
                    color: white;

                }

            }

            .item-cost {
                width: 100%;
                height: 40%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;

                .item-price {
                    width: 25%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 20px;
                }

                .pos-card-counter {
                    width: 50%;
                    height: 100%;
                    font-size: 25px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    .counter-symb {
                        width: 35%;
                        height: 100%;
                        font-size: 20px;
                        background-color: rgb(255, 255, 255);
                        border-radius: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .counter-num {
                        display: inline-block;
                        width: 30%;
                        height: 100%;
                        font-size: 21px;
                        text-align: center;
                    }

                }

                .item-subprice {
                    width: 25%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    font-weight: 600;
                }
            }

            .pos-cart-note {
                width: 100%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14;
                color: rgb(29, 29, 255);
            }

        }
    }

    .pos-content {
        width: 100%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        background-color: rgb(56, 56, 56);
        overflow: hidden;
        .client-formgroup {
            width: 100%;
            height: max-content;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 5px;
            .form-info {
                width: 100%;
                height: 100%;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: flex-start;
                border-bottom: 2px solid wheat;

                .formgroup {
                    max-width: 300px;
                    height: 50%;
                    display: flex;
                    align-items: center;
                    color: white;
                    justify-content: center;

                    >label {
                        font-size: 16px;
                        font-weight: 900;
                        margin-left: 10px;
                        margin-bottom: 0;
                        width: 75px;
                        padding: 0;

                    }

                    >input {
                        font-size: 16px;
                        font-weight: 600;
                        width: 135px !important;
                    }

                    >select {
                        font-size: 16px;
                        font-weight: 900;
                        width: 120px !important;
                    }
                }
                .info-adress {
                    font-size: 16px;
                    font-weight: 900;
                    align-items: center;
                    display: flex;
                    height: 50%;
                    justify-content: flex-start;
                    width: 50%;
                    >label {
                        font-size: 16px;
                        font-weight: 900;
                        margin-left: 10px;
                        width: 60px;
                        padding: 0;
                    }
                    >textarea {
                        font-size: 16px;
                        font-weight: 900;
                        height: 100%;
                        width: 85%;
                    }
                }
            }

        }
        .categ-menu{
            width: 100%;
            height: 85%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .pos-menu {
                width: calc(100% - 120px);
                height: auto;
                display: flex;
                flex-wrap: wrap;
                align-items: flex-start;
                justify-content: center;
                margin: 5px;
                overflow-y: auto;
                .pos-card {
                    width: 170px;
                    height: 180px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin: 5px;
                    border: 2px solid whitesmoke;
                    background-color: rgb(46, 46, 46);
                    cursor: pointer;
                    .pos-img-card {
                        width: 100%;
                        height: 50%;
                    }
    
                    .pos-card-detalis {
                        width: 100%;
                        height: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        margin: 2px;
    
                        .card-name {
                            width: 100%;
                            height: 60%;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
    
                            .product-name {
                                font-size: 18px;
                                width: 60%;
                                height: 100%;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: flex-start;
                            }
    
                            .product-price {
                                width: 40%;
                                height: 100%;
                                font-size: 18px;
                                color: white;
                                display: flex;
                                align-items: center;
                                justify-content: center;
    
                            }
                        }
    
                        .card-discription {
                            width: 100%;
                            height: 50%;
                            font-size: 16px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                        }
    
                    }
                }
            }
            .pos-category {
                width: 120px;
                height: 100%;
                background-color: rgb(56, 56, 56);
                border-right: 2px solid white;
        
                .category-ul {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                    background-color: transparent;
        
                    .category-li {
                        list-style: none;
                        width: 95%;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-bottom: 2px solid gainsboro;
                        cursor: pointer;
        
                        .category-pos-btn {
                            text-decoration: none;
                            color: white;
                            font-size: 18px;
                        }
                    }
        
                }
            }
        }

    }


}