.pos-section{
    width: 100%;
    height: calc(100vh - 56px);
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    overflow: hidden;
    .pos-category{
        width: 150px;
        height: 100%;
        background-color: rgb(56, 56, 56);
        border-right: 2px solid white;
        .category-ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background-color: transparent;
            .category-li{
                list-style: none;
                width: 95%;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid gainsboro;
                cursor: pointer;
                .category-pos-btn{
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }
            }

        }
    }
    .pos-menu{
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 5px;
        overflow-y: auto;
        .pos-card{
            width: 180px;
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 5px;
            border: 2px solid whitesmoke;
            cursor: pointer;
            .pos-img-card{
                width: 100%;
                height: 50%;
            }
            .pos-card-detalis{
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 2px;
                    .card-name{
                        width: 100%;
                        height: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .product-name{
                            font-size: 18px;
                            width: 60%;
                            height: 100%;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        .product-price{
                            width: 40%;
                            height: 100%;
                            font-size: 18px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }
                    }
                    .card-discription{
                        width: 100%;
                        height: 50%;
                        font-size: 16px;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                    }

                }
            }
        }




    .pos-cart{
        width: 30%;
        height: 100%;
        border: 2px solid gold;
        .pos-cart-item{
            width: 100%;
            height: 100px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            .cart-item-name{
                width: 100%;
                height: 30%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 5px;
            }

        }
    }
}
