.pos-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgb(56, 56, 56);
    .pos-category{
        width: 150px;
        height: 100%;
        background-color: rgb(56, 56, 56);
        border-right: 2px solid white;
        .category-ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            background-color: transparent;
            .category-li{
                list-style: none;
                width: 95%;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom: 2px solid gainsboro;
                cursor: pointer;
                .category-pos-btn{
                    text-decoration: none;
                    color: white;
                    font-size: 18px;
                }
            }

        }
    }
    .pos-menu{
        width: 50%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        margin: 5px;
        .pos-card{
            width: 150px;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            margin: 5px;
            border: 2px solid whitesmoke;
            .pos-img-card{
                width: 100%;
                height: 40%;
            }
            .pos-card-detalis{
                width: 100%;
                height: 60%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                margin: 2px;
                    .card-name{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .product-name{
                            font-size: 18px;
                            width: 60%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                        }
                        .product-price{
                            width: 40%;
                            height: 100%;
                            font-size: 18px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                        }
                    }
                    .card-discription{
                        width: 100%;
                        height: 20%;
                        font-size: 16px;
                        color: white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .pos-btn{
                        width: 100%;
                        height: 40%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .add-item{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            background-color: greenyellow;
                        }
                        .delete-item{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                            background-color: rgb(207, 0, 0);
                        }
                    }
                }
            }
        }




    .pos-cart{
        width: 30%;
        height: 100%;
        border: 2px solid gold;
    }
}