.offers-section {
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-margin-top: 80px;
  padding-bottom: 15px;
}
.offers-section .swiper {
  width: 100%;
  height: 90%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.offers-section .swiper .swiper-slide {
  width: 280px;
  height: 350px;
  background-color: white;
}
.offers-section .swiper .swiper-slide .offer-card {
  width: 100%;
  height: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px 20p 0 0;
}
.offers-section .swiper .swiper-slide .offer-card .offers-note {
  width: 100%;
  height: 30%;
  border-radius: 20px 20p 0 0;
}
.offers-section .swiper .swiper-slide .offer-card .offers-note form {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offers-section .swiper .swiper-slide .offer-card .offers-note form > textarea {
  width: 95%;
  height: 70%;
  margin: 5px;
}
.offers-section .swiper .swiper-slide .offer-card .offers-note form .note-btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers-section .swiper .swiper-slide .offer-card .offers-note form .note-btn > button {
  width: 45%;
  height: 100%;
  background-color: aqua;
  border-radius: 10px;
}
.offers-section .swiper .swiper-slide .offer-card .offer-img {
  width: 100%;
  height: 30%;
  border-radius: 20px 20p 0 0;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis {
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-info {
  width: 100%;
  height: 30%;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-info .offer-name {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-price {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-price .p-price {
  width: 20%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-price .p-counter {
  width: 70%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-price .p-counter .counter-symb {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-price .p-counter .counter-num {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-card-btn {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.offers-section .swiper .swiper-slide .offer-card .offer-detalis .offer-card-btn .addtocart {
  width: 90%;
  height: 90%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .swiper-slide {
    width: 85%;
  }
}/*# sourceMappingURL=Offers.css.map */