.offers{
    width: 100%;
    height: auto !important;
    margin-top: 80px;
    padding-top: 70px;
    margin: 0;
    background: linear-gradient(180deg, rgba(66,66,236,1) 5%, rgba(0,212,255,1) 100%);
    // background-image: url(../../image/bg-sec4.jpg);
    // background-size: cover;
    // background-position: bottom center;
    // background-repeat: no-repeat;
    .container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        h1{
        font-size: 35px;
        font-weight: bold;
        letter-spacing: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--yallow-color);
        } 
        .offer-card{
            width: 100%;
            height: 70%;
            scroll-behavior: smooth;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .card{
                width: 300px;
                height: 350px;
                background-color: rgb(255, 255, 255);
                border: 1px solid rgb(255, 236, 69);
                border-radius: 20px;
                margin: 10px;
                img{
                    width: 100%;
                    height: 50%;
                    border-radius: 20px 20px 0 0;
                }
                .prod-det{
                    width: 90%;
                    height: 15%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                }
                .price{
                    width: 90%;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    p{
                        width: 30%;
                        font-size: 18px;
                    }
                    .count{
                        width: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .symb{
                            width: 60px;
                            height: 40px;
                            font-size: 25px;
                            color: red;
                            background-color: gainsboro;
                            border: 1px solid transparent;
                            border-radius: 10px;
                        }
                        span{
                            display: inline-block;
                            width: 50px;
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                }
                }
                .add_cart{
                    width: 100%;
                    height: 60px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button{
                        width: 80%;
                        height: 100%;
                        font-size: 20px;
                        text-align: center;
                        border-radius: 20px;
                        cursor: pointer;
                    }

                }
        }
    }
}
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  width: 300px;
  height: 400px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  filter: blur(1px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: self-start;
}

.swiper-slide-active {
  filter: blur(0px);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-slide span {
  text-transform: uppercase;
  color: #fff;
  background: #1b7402;
  padding: 7px 18px 7px 25px;
  display: inline-block;
  border-radius: 0 20px 20px 0px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-family: "Open Sans", sans-serif;
}

.swiper-slide--one span {
  background: #62667f;
}

.swiper-slide--two span {
  background: #087ac4;
}

.swiper-slide--three span {
  background: #b45205;
}

.swiper-slide--four span {
  background: #087ac4;
}

.swiper-slide h2 {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.4;
  margin-bottom: 15px;
  padding: 25px 45px 0 25px;
}

.swiper-slide p {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  padding: 0 25px 35px 25px;
}

.swiper-slide svg {
  color: #fff;
  width: 22px;
  height: 22px;
  margin-right: 7px;
}

.swiper-slide--one {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url(https://images.unsplash.com/photo-1556206079-747a7a424d3d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80)
      no-repeat 50% 50% / cover;
}

.swiper-slide--two {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1571900670723-a317a66e3fb7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=423&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--three {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1549144511-f099e773c147?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--four {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1650367310179-e1b5b8e453c3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-slide--five {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400),
    url("https://images.unsplash.com/photo-1596521864207-13d46b1a0c78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80")
      no-repeat 50% 50% / cover;
}

.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right {
  background-image: none;
}

// .slider{width: 100%}
// .slider input{display: none;}
// .testimonials{
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	position: relative;
// 	min-height: 350px;
// 	perspective: 1000px;
// 	overflow: hidden;
// }
// .testimonials .item{
// 	width: 300px;
// 	padding: 30px;
// 	border-radius: 5px;
// 	background-color: #21262d;
// 	position: absolute;
// 	border:3px solid white;
// 	top: 0;
// 	box-sizing: border-box;
// 	text-align: center;
// 	transition: transform 0.4s;
// 	box-shadow: 0 0 10px rgba(0,0,0,0.3);
// 	user-select: none;
// 	cursor: pointer;
// }
// .testimonials .item h1{font-size: 114px; color: white;}
// .dots{display: flex; justify-content: center;align-items: center;}
// .dots label{
// 	height: 5px;
// 	width: 5px;
// 	border-radius: 50%;
// 	cursor: pointer;
// 	background-color: #413B52;
// 	margin: 7px;
// 	transition-duration: 0.2s;
// }

// #t-1:checked ~ .dots label[for="t-1"],
// #t-2:checked ~ .dots label[for="t-2"],
// #t-3:checked ~ .dots label[for="t-3"],
// #t-4:checked ~ .dots label[for="t-4"],
// #t-5:checked ~ .dots label[for="t-5"]{
// 	transform: scale(2);
// 	background-color: #fff;
// 	box-shadow: 0px 0px 0px 3px #dddddd24;
// }

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"]{
	transform: scale(1.5);
}

#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"]{
	transform: translate3d(600px, 0, -180px) rotateY(-25deg);
	z-index: 2;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-1"]{
	transform: translate3d(300px, 0, -90px) rotateY(-15deg);
	z-index: 3;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-1:checked ~ .testimonials label[for="t-5"]{
	transform: translate3d(-300px, 0, -90px) rotateY(15deg);
	z-index: 3;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-4"]{
	transform: translate3d(-600px, 0, -180px) rotateY(25deg);
	
}

#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"]{
	
	z-index: 4;
}



@media (min-width: 1440px) {
    html {
      zoom: 1.5;
    }
  }
  
  @media (min-width: 2560px) {
    html {
      zoom: 1.7;
    }
  }
  
  @media (min-width: 3860px) {
    html {
      zoom: 2.5;
    }
  }
  
  ::-webkit-scrollbar {
    width: 1.3rem;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: #797979;
    transition: all 0.5s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222224;
  }
  
  ::-webkit-scrollbar-track {
    background: #f9f9f9;
  }
  
  body {
    font-size: 1.6rem;
    background: var(--bg);
  }
  
  .container {
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
  }
  
  .heading {
    padding: 1rem 0;
    font-size: 3.5rem;
    text-align: center;
  }
  
  .swiper_container {
    height: 52rem;
    padding: 2rem 0;
    position: relative;
  }
  
  .swiper-slide {
    width: 37rem;
    height: 42rem;
    position: relative;
  }
  
  @media (max-width: 500px) {
    .swiper_container {
      height: 47rem;
    }
    .swiper-slide {
      width: 28rem !important;
      height: 36rem !important;
    }
    .swiper-slide img {
      width: 28rem !important;
      height: 36rem !important;
    }
  }
  
  .swiper-slide img {
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
  }
  
  .swiper-slide-shadow-left,
  .swiper-slide-shadow-right {
    display: none;
  }
  
  .slider-controler {
    position: relative;
    bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .slider-controler .swiper-button-next {
    left: 58% !important;
    transform: translateX(-58%) !important;
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-next {
      left: 70% !important;
      transform: translateX(-70%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-next {
      left: 80% !important;
      transform: translateX(-80%) !important;
    }
  }
  
  @media (max-width: 990px) {
    .slider-controler .swiper-button-prev {
      left: 30% !important;
      transform: translateX(-30%) !important;
    }
  }
  
  @media (max-width: 450px) {
    .slider-controler .swiper-button-prev {
      left: 20% !important;
      transform: translateX(-20%) !important;
    }
  }
  
  .slider-controler .slider-arrow {
    background: var(--white);
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    left: 42%;
    transform: translateX(-42%);
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .slider-controler .slider-arrow ion-icon {
    font-size: 2rem;
    color: #222224;
  }
  
  .slider-controler .slider-arrow::after {
    content: '';
  }
  
  .swiper-pagination {
    position: relative;
    width: 15rem !important;
    bottom: 1rem;
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  }
  
  .swiper-pagination .swiper-pagination-bullet-active {
    background: var(--primary);
  }