.main-home {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(../../../image/main-cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    display: flex;
    align-items: center;
    justify-content: center;
    scroll-margin-top: 90px;

    .container {
        display: flex;
        align-items: center;
        justify-content: center;

        .content {
            width: 50%;
            height: 70%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            position: absolute;
            left: 50px;
            .main-title {
                width: 90%;
                height: 300px;
                text-align: center;
                font-size: 40px;
                font-weight: bold;
                color: var(--yallow-color);
            }

            .main-text {
                font-size: 50px;
                text-align: center;
                font-weight: bolder;
                color: var(--white);
                margin-top: 30px;
            }

            .main-btn {
                width: 350px;
                height: 20%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                list-style: none;

                .main-li {
                    width: 150px;
                    height: 60px;
                    border: 2px solid transparent;
                    border-radius: 25px;
                    background-color: rgb(0, 195, 255);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &.mrl-auto{
                        margin-left: auto !important;
                        margin-right: auto !important;
                        width: 50% !important;
                    }
                    a {
                        display: inline-block;
                        text-decoration: none;
                        font-size: 25px;
                        color: white;
                        margin: 10px 0px;

                    }


                }
            }
        }
    }


}


@media (max-width: 768px) {
    .main-home {
        background-image: url('../../../image/main-cover\ -\ mob.jpg');
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
    
            .content {
                width: 90%;
                height: 90%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                flex-direction: column;
                position: static;
                background-color: rgba(0, 0, 0, 0.322);
                .main-title {
                    width: 100%;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 35px;
                    font-weight: bold;
                    color: var(--yallow-color);
                }
    
                .main-text {
                    font-size: 30px;
                    font-weight: bolder;
                    color: var(--white);
                    margin-top: 20px;
                    text-align: center;
                }
    
                .main-btn {
                    width: 90%;
                    height: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    list-style: none;
                    .main-li {
                        width: 130px;
                        height: 60px;
                        font-size: 22px;
                        color: white;
                        border: 2px solid transparent;
                        border-radius: 25px;
                        background-color: rgb(0, 195, 255);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
                        a {
                            display: inline-block;
                            text-decoration: none;
                            font-size: 22px;
                            color: white;
                            margin: 10px 0px;
                        }    
                    }
                }
            }
        }
    }
}
