$color_1: var(--dark);
$color_2: var(--dark-grey);
$color_3: var(--primary);
$color_4: var(--light);
$color_5: var(--warning);
$color_6: var(--success);
$color_7: var(--danger);

.dashboard {
	width: 100%;
	padding: 5px;
	max-height: calc(100vh - 56px);
    overflow-y: auto;
	.header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		grid-gap: 16px;
		flex-wrap: wrap;
		.left {
			h1 {
				font-size: 30px;
				font-weight: 600;
				color: $color_1;
			}
			.breadcrumb {
				display: flex;
				align-items: center;
				grid-gap: 16px;
				li {
					color: $color_1;
					a {
						color: $color_2;
						pointer-events: none;
					}
					a.active {
						color: $color_3;
						pointer-events: none;
					}
				}
			}
		}
		.website {
			height: 40px;
			width: 126px;
			padding: 0 16px;
			border-radius: 36px;
			background: var(--primary);
			color: $color_4;
			display: flex;
			align-items: center;
			justify-content: center;
			grid-gap: 10px;
			font-weight: 500;
		}
	}
	.insights {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
		grid-gap: 10px;
		margin-top: 20px;
		li {
			padding: 10px;
			background: var(--light);
			border-radius: 20px;
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			grid-gap: 24px;
			cursor: pointer;
			.bx {
				width: 50px;
				height: 80px;
				border-radius: 10px;
				font-size: 45px;
				display: flex;
				align-items: center;
				justify-content: center;
			}
			&:nth-child(1) {
				.bx {
					background: var(--light-primary);
					color: $color_3;
				}
			}
			&:nth-child(2) {
				.bx {
					background: var(--light-warning);
					color: $color_5;
				}
			}
			&:nth-child(3) {
				.bx {
					background: var(--light-success);
					color: $color_6;
				}
			}
			&:nth-child(4) {
				.bx {
					background: var(--light-danger);
					color: $color_7;
				}
			}
			.info {
				text-align: center;
				p {
					font-size: 24px;
					color: $color_1;
				}
				h3 {
					font-size: 20px;
					font-weight: 600;
					color: $color_1;
				}
			}
		}
	}
	.bottom-data {
		display: flex;
		flex-wrap: wrap;
		grid-gap: 24px;
		margin-top: 24px;
		width: 100%;
		color: $color_1;
		>div {
			border-radius: 20px;
			background: var(--light);
			padding: 24px;
			overflow-x: auto;
		}
		.header {
			display: flex;
			align-items: center;
			grid-gap: 16px;
			margin-bottom: 24px;
			h3 {
				margin-right: auto;
				font-size: 24px;
				font-weight: 600;
			}
			.bx {
				cursor: pointer;
			}
		}
		.orders {
			flex-grow: 1;
			flex-basis: 500px;
			table {
				width: 100%;
				border-collapse: collapse;
				th {
					padding-bottom: 12px;
					font-size: 13px;
					text-align: left;
					border-bottom: 1px solid var(--grey);
				}
				td {
					padding: 16px 0;
					img {
						width: 36px;
						height: 36px;
						border-radius: 50%;
						object-fit: cover;
					}
				}
				tr {
					td {
						&:first-child {
							display: flex;
							align-items: center;
							grid-gap: 12px;
							padding-left: 6px;
						}
						.status {
							font-size: 10px;
							padding: 6px 16px;
							color: $color_4;
							border-radius: 20px;
							font-weight: 700;
						}
						.status.completed {
							background: var(--success);
						}
						.status.process {
							background: var(--primary);
						}
						.status.pending {
							background: var(--warning);
						}
					}
				}
				tbody {
					tr {
						cursor: pointer;
						transition: all 0.3s ease;
						&:hover {
							background: var(--grey);
						}
					}
				}
			}
		}
		.reminders {
			flex-grow: 1;
			flex-basis: 300px;
			.task-list {
				width: 100%;
				li {
					width: 100%;
					margin-bottom: 16px;
					background: var(--grey);
					padding: 14px 10px;
					border-radius: 10px;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.task-title {
						width:100%;
						display: flex;
						align-items: center;
						justify-content: space-between;
						>p {
							margin-left: 6px;
							margin-bottom: 0 !important;
						}
					}
					.bx {
						cursor: pointer;
					}
					&:last-child {
						margin-bottom: 0;
					}
				}
				li.completed {
					border-left: 10px solid var(--success);
				}
				li.not-completed {
					border-left: 10px solid var(--danger);
				}
			}
		}
	}
}
@media screen and (max-width: 768px) {
	.sidebar {
		width: 200px;
	}
	.content {
		width: calc(100% - 60px);
		left: 200px;
	}
}
@media screen and (max-width: 576px) {
	.content {
		nav {
			form {
				.form-input {
					input {
						display: none;
					}
					button {
						width: auto;
						height: auto;
						background: transparent;
						color: $color_1;
						border-radius: none;
					}
				}
			}
			form.show {
				.form-input {
					input {
						display: block;
						width: 100%;
					}
					button {
						width: 36px;
						height: 100%;
						color: $color_4;
						background: var(--danger);
						border-radius: 0 36px 36px 0;
					}
				}
			}
			form.show~.notif {
				display: none;
			}
			form.show~.profile {
				display: none;
			}
		}
	}
	.dashboard {
		.insights {
			grid-template-columns: 1fr;
		}
		.bottom-data {
			.header {
				min-width: 340px;
			}
			.orders {
				table {
					min-width: 340px;
				}
			}
			.reminders {
				.task-list {
					min-width: 340px;
				}
			}
		}
	}
}

