.dashboard {
  width: 100%;
  padding: 5px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
.dashboard .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.dashboard .header .left h1 {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark);
}
.dashboard .header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
.dashboard .header .left .breadcrumb li {
  color: var(--dark);
}
.dashboard .header .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
.dashboard .header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: none;
}
.dashboard .header .website {
  height: 40px;
  width: 126px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  font-weight: 500;
}
.dashboard .insights {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 10px;
  margin-top: 20px;
}
.dashboard .insights li {
  padding: 10px;
  background: var(--light);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  grid-gap: 24px;
  cursor: pointer;
}
.dashboard .insights li .bx {
  width: 50px;
  height: 80px;
  border-radius: 10px;
  font-size: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard .insights li:nth-child(1) .bx {
  background: var(--light-primary);
  color: var(--primary);
}
.dashboard .insights li:nth-child(2) .bx {
  background: var(--light-warning);
  color: var(--warning);
}
.dashboard .insights li:nth-child(3) .bx {
  background: var(--light-success);
  color: var(--success);
}
.dashboard .insights li:nth-child(4) .bx {
  background: var(--light-danger);
  color: var(--danger);
}
.dashboard .insights li .info {
  text-align: center;
}
.dashboard .insights li .info p {
  font-size: 24px;
  color: var(--dark);
}
.dashboard .insights li .info h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark);
}
.dashboard .bottom-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
.dashboard .bottom-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
.dashboard .bottom-data .header {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
.dashboard .bottom-data .header h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
.dashboard .bottom-data .header .bx {
  cursor: pointer;
}
.dashboard .bottom-data .orders {
  flex-grow: 1;
  flex-basis: 500px;
}
.dashboard .bottom-data .orders table {
  width: 100%;
  border-collapse: collapse;
}
.dashboard .bottom-data .orders table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
.dashboard .bottom-data .orders table td {
  padding: 16px 0;
}
.dashboard .bottom-data .orders table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard .bottom-data .orders table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
.dashboard .bottom-data .orders table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
.dashboard .bottom-data .orders table tr td .status.completed {
  background: var(--success);
}
.dashboard .bottom-data .orders table tr td .status.process {
  background: var(--primary);
}
.dashboard .bottom-data .orders table tr td .status.pending {
  background: var(--warning);
}
.dashboard .bottom-data .orders table tbody tr {
  cursor: pointer;
  transition: all 0.3s ease;
}
.dashboard .bottom-data .orders table tbody tr:hover {
  background: var(--grey);
}
.dashboard .bottom-data .reminders {
  flex-grow: 1;
  flex-basis: 300px;
}
.dashboard .bottom-data .reminders .task-list {
  width: 100%;
}
.dashboard .bottom-data .reminders .task-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  padding: 14px 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .bottom-data .reminders .task-list li .task-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dashboard .bottom-data .reminders .task-list li .task-title > p {
  margin-left: 6px;
  margin-bottom: 0 !important;
}
.dashboard .bottom-data .reminders .task-list li .bx {
  cursor: pointer;
}
.dashboard .bottom-data .reminders .task-list li:last-child {
  margin-bottom: 0;
}
.dashboard .bottom-data .reminders .task-list li.completed {
  border-left: 10px solid var(--success);
}
.dashboard .bottom-data .reminders .task-list li.not-completed {
  border-left: 10px solid var(--danger);
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
  .content {
    width: calc(100% - 60px);
    left: 200px;
  }
}
@media screen and (max-width: 576px) {
  .content nav form .form-input input {
    display: none;
  }
  .content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    color: var(--dark);
    border-radius: none;
  }
  .content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  .content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    color: var(--light);
    background: var(--danger);
    border-radius: 0 36px 36px 0;
  }
  .content nav form.show ~ .notif {
    display: none;
  }
  .content nav form.show ~ .profile {
    display: none;
  }
  .dashboard .insights {
    grid-template-columns: 1fr;
  }
  .dashboard .bottom-data .header {
    min-width: 340px;
  }
  .dashboard .bottom-data .orders table {
    min-width: 340px;
  }
  .dashboard .bottom-data .reminders .task-list {
    min-width: 340px;
  }
}/*# sourceMappingURL=ManagerDash.css.map */