.card-group {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.card-group .menu-card {
  width: 350px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 110, 110);
  border-radius: 20px;
  margin: 15px auto;
  overflow: hidden;
  position: relative;
}
.card-group .menu-card img {
  width: 40%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}
.card-group .menu-card form {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-group .menu-card form > textarea {
  width: 95%;
  height: 70%;
  margin: 5px;
}
.card-group .menu-card form .note-btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-group .menu-card form .note-btn > button {
  width: 45%;
  height: 100%;
  background-color: aqua;
  border-radius: 10px;
}
.card-group .menu-card .detalis {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 5px;
}
.card-group .menu-card .detalis .product-det {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-group .menu-card .detalis .product-det .product-name {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5px;
}
.card-group .menu-card .detalis .product-det .product-name > h2 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.card-group .menu-card .detalis .product-det .product-name > span {
  font-size: 40px;
  color: red;
  cursor: pointer;
}
.card-group .menu-card .detalis .product-det > p {
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
}
.card-group .menu-card .detalis .price {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-group .menu-card .detalis .price > p {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: auto;
  padding: 2px;
  border: 1px solid gray;
}
.card-group .menu-card .detalis .price .counter {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-group .menu-card .detalis .price .counter .symb {
  width: 50px;
  height: 35px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-group .menu-card .detalis .price .counter .num {
  display: inline-block;
  width: 25px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: auto 0;
}
.card-group .menu-card .detalis .card-btn {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.card-group .menu-card .detalis .card-btn .delfromcart {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(216, 0, 0);
}
.card-group .menu-card .detalis .card-btn .addtocart {
  width: 100%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(153, 255, 0);
}
.card-group .menu-card .detalis .card-btn .addnote {
  width: 45%;
  height: 100%;
  font-size: 20px;
  text-align: center;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
}

@media (max-width: 767px) {
  .card-group {
    width: 80%;
    height: -moz-max-content;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
  }
  .card-group .menu-card {
    width: 100%;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 110, 110);
    border-radius: 20px;
    margin: 8px auto;
    overflow: hidden;
  }
  .card-group .menu-card img {
    width: 40%;
    height: 100%;
    border-radius: 0 20px 20px 0;
  }
  .card-group .menu-card .detalis {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 5px;
  }
  .card-group .menu-card .detalis .product-det {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .card-group .menu-card .detalis .product-det .product-name {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
  }
  .card-group .menu-card .detalis .product-det .product-name > h2 {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
  }
  .card-group .menu-card .detalis .product-det .product-name > span {
    font-size: 40px;
    color: red;
    cursor: pointer;
  }
  .card-group .menu-card .detalis .product-det > p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  .card-group .menu-card .detalis .price {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-group .menu-card .detalis .price > p {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    padding: 2px;
    border: 1px solid gray;
  }
  .card-group .menu-card .detalis .price .counter {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .card-group .menu-card .detalis .price .counter .symb {
    width: 50px;
    height: 35px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-group .menu-card .detalis .price .counter .num {
    display: inline-block;
    width: 25px;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto 0;
  }
}/*# sourceMappingURL=Menu-card.css.map */