.manag-header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .manag-nav {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: flex-end;

            .profile {
                width: 60%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .info {
                    font-size: 18px;
                    color: black;
                    text-align: center;
                }

                .logout-btn {
                    width: 150px;
                    height: 70%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 25px;
                    background-color: rgb(224, 3, 3);

                    >a {
                        font-size: 18px;
                        color: rgb(255, 255, 255);
                        text-align: center;
                    }
                }
            }

        }
    }

}